
<section class="module parallax parallax-1">
	<div class="container">
		<br/><br/><br/><br/><h1 class="greeting text-center">Welcome to Fairyland</h1>
	</div>
</section>

<section class="module content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<% @pages.reverse_each do |t| %>
					<div class="well-lg">
						<h3 class="article-title text-center"><%= t.title %></h3>
						<p><e>Written on <%= t.created_at.strftime("%B %e, %Y") %></e></p><br/>
						<p class="article-text"><%= raw(t.body) %></p>		
						<ul class="list-inline">
              <% if user_signed_in? %>
                <li><%= link_to "Delete", page_path(t), method: :delete, data: {confirm: "Really delete the article?"} %></li>
							  <li><%= link_to "Edit", edit_page_path(t) %></li>
              <% end %>
						</ul>
					</div>	
				<% end %>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="well">
					<h3 class="text-center">Recent Posts</h1>
					<ul>
						<% @pages.each do |t| %>
							<li>
							<%= link_to t.title, page_path(t), class: 'page_title', id: "page_#{t.id}" %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>