
<section class="module parallax parallax-1">
	<div class="container">
		<h1 class="greeting text-center">Welcome to Fairyland</h1>
	</div>
</section>

<section class="module content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<% @pages.reverse_each do |t| %>
					<div class="well-lg">
						<h3 class="article-title text-center"><%= t.title %></h3>
						<p class="article-text"><%= t.body %></p>		
						<ul class="list-inline">
							<li><%= link_to "Delete", page_path(t), method: :delete, data: {confirm: "Really delete the article?"} %></li>
							<li><%= link_to "Edit", edit_page_path(t) %></li>
						</ul>
					</div>	
				<% end %>
			</div>
			<div class="col-md-4">
				<div class="well">
					<h3 class="text-center">Recent Posts</h1>
					<ul>
						<% @pages.each do |t| %>
							<li>
							<%= link_to t.title, page_path(t), class: 'page_title', id: "page_#{t.id}" %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>