<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well-lg">
				<h2><strong><%= @page.title %></strong></h2>
				<p><e>Written on <%= @page.created_at.strftime("%B %e, %Y") %></e></p><br/>
				<p><%= raw(@page.body) %></p>
				<%= link_to "Delete", page_path(@page), method: :delete, data: {confirm: "Really delete the article?"} %>
				<%= link_to "Edit", edit_page_path(@page) %></br>
				<%= link_to "<< Back to Home", root_path %>
			</div>
		</div>
	</div>
</div>